
.main-slider-wrapper {
 // height: 71vh !important;
}
.height-50 {
  height: 50vh ;
}
.bg-opacity-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.form-control {
  border-radius: 0;
  border-color: theme-color("color-3");
}
.zoom-hover:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.img-wrapper {
  position: relative;
  .icon-wrapper, .icon-mobile{
    opacity: 0 !important;
  }
    &:hover {
      pointer-events: auto;
      .icon-wrapper {
        opacity: 5 !important;
        width: 40px;
        height: 40px;
      }
      .icon-search {
        opacity: 5 !important;
        color: white;
      }

    }
}